:root {
  // Colors
  --black: #000;
  --white: #fff;
  --yellow: #eeff00;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(233, 233, 233, 0.73);
  --shadow-3: rgba(179, 179, 179, 0.73);
  --link-bg: rgb(78, 78, 78);
  --hover-link: #817f7f;
  // Font sizes
  --p1: 16px;
  --p2: 14px;
  --p3: 12px;
  --p4: 10px;
  --large: 2rem;
  --p5: 18px;
  --p6: 20px;
  --p7: 24px;
  --p8: 28px;
  --p9: 32px;

  //Radius
  --border-radius: 2rem;

  //Fonts
  --nerko-one: Nerko One;
  //
  // Font weights
  --bold: 600;
  --regular: 400;
}
