.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 13, 97, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
}
