.Text16Regular {
  font-size: var(--p1);
  font-weight: var(--regular);
  line-height: 20px;
}

.Text14Regular {
  font-size: var(--p2);
  font-weight: var(--regular);
  line-height: 20px;
}

.Text14Bold {
  font-size: var(--p2);
  font-weight: var(--bold);
  line-height: 20px;
}

.Text16Bold {
  font-size: var(--p1);
  font-weight: var(--bold);
  line-height: 20px;
}

.Text18Regular {
  font-size: var(--p5);
  font-weight: var(--regular);
  line-height: 22px;
}

.Text20Regular {
  font-size: var(--p6);
  font-weight: var(--regular);
  line-height: 24px;
}

.Text24Regular {
  font-size: var(--p7);
  font-weight: var(--regular);
  line-height: 28px;
}

.Text28Regular {
  font-size: var(--p8);
  font-weight: var(--regular);
  line-height: 32px;
}

.Text32Regular {
  font-size: var(--p9);
  font-weight: var(--regular);
  line-height: 36px;
}

.Text18Bold {
  font-size: var(--p5);
  font-weight: var(--bold);
  line-height: 22px;
}

.Text20Bold {
  font-size: var(--p6);
  font-weight: var(--bold);
  line-height: 24px;
}

.Text24Bold {
  font-size: var(--p7);
  font-weight: var(--bold);
  line-height: 28px;
}

.Text28Bold {
  font-size: var(--p8);
  font-weight: var(--bold);
  line-height: 32px;
}

.Text32Bold {
  font-size: var(--p9);
  font-weight: var(--bold);
  line-height: 36px;
}
