.header {
  background-color: #00000000;
  border-bottom: solid 1px var(--white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-height: 50px;
  font-family: Nerko One;
  color: #fff;
  font-size: 32px;
}

.title {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  align-items: center;
}
